@charset "UTF-8";
/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/
/*import*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,700;0,900;1,700&display=swap");
/* Aquí definimos las variables*/
/*Colors Primary*/
/*Colors Neutral*/
/*$negro: #393939;*/
/* Tipografía */
/* Las adaptamos al modo oscuro */
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  object-fit: cover;
  /* opcional */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::selection {
  /*background-color: $negro;*/
  color: white;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  /* opcional */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/*Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  /*color: var(--negro);*/
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 2.78%;
  padding-top: 35px;
}

#header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#header__logo {
  max-width: 144px;
}

#header__navbar ul {
  display: flex;
  align-items: center;
  font-size: clamp(16.2px, 1.25vw, 18px);
  column-gap: clamp(32px, 2.75vw, 40px);
  color: white;
}
#header__navbar ul li:hover {
  transform: scale(1.1);
}

#navbar-mobile__menu ul li:hover {
  transform: scale(1.1);
}

.contact {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: clamp(13.5px, 1.04vw, 15px);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 23px;
  border-radius: 32px;
}

.contact--white {
  color: #23303e;
  background-color: white;
}

.contact--yellow {
  background-color: #fad400;
  color: #23303e;
}

#menu-icon,
#navbar-mobile {
  display: none;
}

#header__title {
  color: white;
  font-family: "Fraunces", serif;
  font-size: clamp(37.5px, 3.82vw, 55px);
  font-weight: bold;
  margin-top: 100px;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
}

#arrow-icon {
  height: 114px;
  width: 36px;
  margin: 0 auto;
  margin-top: 60px;
}

@media (max-width: 870px) {
  #header {
    background-image: url("../images/mobile/image-header.jpg");
  }

  #header__navbar {
    display: none;
  }

  #header__title {
    line-height: 35px;
  }

  #menu-icon, #navbar-mobile {
    display: block;
  }

  #navbar-mobile {
    position: absolute;
    opacity: 1;
    width: 94.44vw;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    height: 250px;
  }

  #navbar-mobile__menu {
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
    padding: 25px 0;
  }
  #navbar-mobile__menu::before {
    content: "";
    position: absolute;
    right: 0;
    top: -30px;
    height: 30px;
    width: 30px;
    background-color: white;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
  #navbar-mobile__menu ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #818498;
    row-gap: 25px;
  }
}
body {
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

.features {
  display: flex;
  max-height: 600px;
}

.features--reverse {
  flex-direction: row-reverse;
}
.features--reverse a:before {
  background: rgba(254, 120, 103, 0.493) !important;
}
.features--reverse a:hover::before {
  background: #fe7867 !important;
}

.features__text {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: center;
  text-align: left;
}
.features__text h2 {
  font-size: 40px;
  line-height: 1;
  font-family: "Fraunces", serif;
  font-weight: bold;
  margin-bottom: 40px;
}
.features__text p {
  color: #818498;
  margin-bottom: 40px;
}
.features__text a {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: black;
  font-size: 17px;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-weight: 800;
}
.features__text a:before {
  content: "";
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  width: 100%;
  height: 0.7rem;
  background: rgba(250, 212, 0, 0.404);
  z-index: -1;
  border-radius: 0.5rem;
  transition: 0.35s;
}
.features__text a:hover::before {
  background: #fad400;
}

/*
.features__img {
  flex: 0 0 50%;
}
*/
.fruits {
  display: flex;
}
.fruits .fruit {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  flex: 0 0 50%;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 600px;
  text-align: center;
}
.fruits .fruit .fruit__text {
  position: absolute;
  padding: 0 15%;
  left: 0;
  top: 0;
}
.fruits .fruit:nth-child(2) {
  background-image: url("../images/desktop/image-photography.jpg");
}
.fruits h3 {
  color: #19536b;
  margin-top: 400px;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
  font-family: "Fraunces", serif;
}
.fruits p {
  font-size: 17px;
  color: #25564b;
}

/**/
.client__testimonials {
  background-color: white;
  text-align: center;
}
.client__testimonials h3 {
  color: #a7abae;
  font-size: 21px;
  font-weight: bold;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 150px;
  margin-bottom: 65px;
}
.client__testimonials .testimonials {
  display: flex;
  padding: 0 10%;
  column-gap: 25px;
  padding-bottom: 130px;
}
.client__testimonials .testimonials .testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  hyphens: none;
}
.client__testimonials .testimonials .testimonial .testimonial__img {
  width: 70px;
  height: 70px;
  margin-bottom: 35px;
}
.client__testimonials .testimonials .testimonial .testimonial__img img {
  border-radius: 100%;
}
.client__testimonials .testimonials .testimonial .testimonial__comment {
  color: #5a636c;
  margin-bottom: 40px;
}
.client__testimonials .testimonials .testimonial .testimonial__author .name {
  font-weight: bold;
  font-family: "Fraunces", serif;
  color: #23303e;
  margin-bottom: 4px;
}
.client__testimonials .testimonials .testimonial .testimonial__author .position {
  font-size: 14px;
  color: #a7abae;
}

/**/
.imgs-four {
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.imgs-four div {
  height: 100%;
  background-size: cover;
}
.imgs-four .milkbottles {
  background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
}
.imgs-four .orange {
  background-image: url("../images/desktop/image-gallery-orange.jpg");
}
.imgs-four .cone {
  background-image: url("../images/desktop/image-gallery-cone.jpg");
}
.imgs-four .sugarcubes {
  background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
}

/**/
/**/
footer {
  height: 300px;
  background-color: #458c7e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer #footer__logo {
  max-width: 160px;
}

/**/
@media (max-width: 870px) {
  .imgs-four {
    height: 400px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .imgs-four div {
    height: 100%;
    background-size: cover;
  }
  .imgs-four .milkbottles {
    background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
  }
  .imgs-four .orange {
    background-image: url("../images/mobile/image-gallery-orange.jpg");
  }
  .imgs-four .cone {
    background-image: url("../images/mobile/image-gallery-cone.jpg");
  }
  .imgs-four .sugarcubes {
    background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
  }

  .features {
    display: flex;
    flex-direction: column-reverse;
    max-height: inherit;
  }

  .features--reverse {
    flex-direction: column-reverse;
  }

  /*.fruit {
    width: 100%;
  }*/
  .fruit {
    background-image: url("../images/mobile/image-graphic-design.jpg");
  }

  .fruit:nth-child(2) {
    background-image: url("../images/mobile/image-photography.jpg");
  }

  .features__text {
    flex: inherit;
    text-align: center;
    padding-top: 30px;
  }
  .features__text h2 {
    font-size: clamp(30px, 2.78vw, 40px);
  }
  .features__text p {
    font-size: clamp(15.2px, 1.25vw, 18px);
  }
  .features__text a {
    font-size: clamp(14.2px, 1.2vw, 17px);
  }

  .fruits {
    flex-direction: column;
  }
  .fruits .fruit {
    flex: inherit;
    width: 100vw;
  }
  .fruits .fruit .fruit__text {
    position: absolute;
    padding: 0 25%;
    left: 0;
    top: 0;
  }
  .fruits .fruit .fruit__text h3 {
    margin-top: 350px;
    margin-bottom: 30px;
    font-size: 28px;
  }
  .fruits .fruit .fruit__text p {
    font-size: 15px;
  }

  /**/
  .client__testimonials h3 {
    /* color: $Grayish-blue;
     font-size: 21px;
     font-weight: bold;
     font-family: $Fraunces;
     text-transform: uppercase;

     letter-spacing: 4px;*/
    margin-top: 100px;
    margin-bottom: 55px;
  }
  .client__testimonials .testimonials {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    column-gap: inherit;
    row-gap: 60px;
    padding-bottom: 130px;
  }
  .client__testimonials .testimonials .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    hyphens: none;
  }
  .client__testimonials .testimonials .testimonial .testimonial__img {
    width: 70px;
    height: 70px;
    margin-bottom: 35px;
  }
  .client__testimonials .testimonials .testimonial .testimonial__img img {
    border-radius: 100%;
  }
  .client__testimonials .testimonials .testimonial .testimonial__comment {
    color: #5a636c;
    margin-bottom: 25px;
  }
  .client__testimonials .testimonials .testimonial .testimonial__author .name {
    font-weight: bold;
    font-family: "Fraunces", serif;
    color: #23303e;
    margin-bottom: 4px;
  }
  .client__testimonials .testimonials .testimonial .testimonial__author .position {
    font-size: 14px;
    color: #a7abae;
  }

  /**/
}

/*# sourceMappingURL=index.css.map */
