//%10
$font-size-15: clamp(13.5px, 1.04vw, 15px);
$font-size-18: clamp(16.2px, 1.25vw, 18px);
$font-size-55:clamp(37.5px, 3.82vw,55px);

//25%
$column-gap--nav: clamp(32px, 2.75vw, 40px);
$row-gap--nav: 25px;



