@import "config/app.scss";
@import "_header.scss";
@import "_variables.scss";


body {
}

.hidden {
  display: none !important;
}

.features{
  display:flex;
  max-height: 600px;
}

.features__text{
  flex:1 1 50%;
  display:flex;
  flex-direction: column;
  

}



.features__img{
  flex:1 1 50%;
}