@import "config/app.scss";
@import "_header.scss";
@import "_variables.scss";

body{
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

.features {
  display: flex;
  max-height: 600px;
}

.features--reverse {
  flex-direction: row-reverse;

  a {
    &:before {
      background: hsla(7, 99%, 70%, 0.493) !important;
    }
    &:hover::before {
      background: hsl(7, 99%, 70%) !important;
    }
  }
}

.features__text {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding: 0 50px;

  justify-content: center;
  text-align: left;

  h2 {
    font-size: 40px;
    line-height: 1;
    font-family: $Fraunces;
    font-weight: bold;
    margin-bottom: 40px;
  }

  p {
    color: $Dark-grayish-blue;
    margin-bottom: 40px;
  }

  a {
    font-family: $Fraunces;
    text-transform: uppercase;
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding: 0.5rem;
    text-decoration: none;
    position: relative;

    cursor: pointer;
    font-weight: 800;

    &:before {
      content: "";
      position: absolute;
      bottom: 0.3rem;
      left: 0;
      width: 100%;
      height: 0.7rem;
      background: hsla(51, 100%, 49%, 0.404);
      z-index: -1;
      border-radius: 0.5rem;
      transition: 0.35s;
    }

    &:hover::before {
      background: hsl(51, 100%, 49%);
    }
  }
}
/*
.features__img {
  flex: 0 0 50%;
}
*/
.fruits {
  display: flex;

  .fruit {
    background-image: url("../images/desktop/image-graphic-design.jpg");
    flex: 0 0 50%;

    background-position: center;
    background-size: cover;
    position: relative;
    height: 600px;
    text-align: center;

    .fruit__text {
      position: absolute;
      padding: 0 15%;

      left: 0;
      top: 0;
    }
  }

  .fruit:nth-child(2) {
    background-image: url("../images/desktop/image-photography.jpg");
  }

  h3 {
    color: $Dark-blue;
    margin-top: 400px;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;

    font-family: $Fraunces;
  }
  p {
    font-size: 17px;
    color: $Dark-desaturated-cyan;
  }
}

/**/
.client__testimonials {
  background-color: $White;
  text-align: center;
  

  h3 {
    color: $Grayish-blue;
    font-size: 21px;
    font-weight: bold;
    font-family: $Fraunces;
    text-transform: uppercase;

    letter-spacing: 4px;
    margin-top: 150px;
    margin-bottom: 65px;
  }

  .testimonials {
    display: flex;
    padding: 0 10%;
    column-gap: 25px;
    padding-bottom: 130px;
  

    .testimonial {
      display:flex;
      flex-direction: column;
      align-items: center;
      
      hyphens: none;

      .testimonial__img {
        width: 70px;
        height: 70px;
        margin-bottom: 35px;

        img {
          border-radius: 100%;
        }
      }

      .testimonial__comment{
        color:$Very-dark-grayish-blue;
        margin-bottom: 40px;
      }

      .testimonial__author{

        .name{
          font-weight: bold;
          font-family: $Fraunces;
          color:$Very-dark-desaturated-blue;
          margin-bottom: 4px;

        }

        .position{
          font-size: 14px;
          color: $Grayish-blue;
        
        }
  
      }
      
    }
  }
}

/**/
.imgs-four{

  height: 400px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  //grid-template-rows: ;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  div{
    height: 100%;
    background-size: cover;
  }

  .milkbottles{
   
    background-image: url("../images/desktop/image-gallery-milkbottles.jpg");


  }

  .orange{

    background-image: url("../images/desktop/image-gallery-orange.jpg");

  }

  .cone{
    background-image:url("../images/desktop/image-gallery-cone.jpg");
  }

  .sugarcubes{
    background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
  }



}

/**/


/**/
footer{
  height: 300px;
  background-color: $Dark-moderate-cyan;
  display:flex;
  flex-direction: column;
  align-items: center;

  #footer__logo{
    //max-width: 160px;
    
    margin-top:70px;
    margin-bottom:45px;

    img{
      height: 32.5px;
    }

  }

  #footer__navbar{
    ul{
      display:flex;
      column-gap: 45px;
      color:$White;

      
    }

    
    }


    .icons-socials{
      
      ul {
        display:flex;
        
        column-gap: 25px;

        img{
          filter:brightness(0.8);
        }

        margin-top:35px;
      }
      


     


  }

 



}

/**/

@media (max-width: 870px) {

  .imgs-four{

    height: 400px;
  
  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
   // grid-column-gap: 0px;
  //  grid-row-gap: 0px;
  
    div{
      height: 100%;
      background-size: cover;
    }
  
    .milkbottles{
     
      background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
  
  
    }
  
    .orange{
  
      background-image: url("../images/mobile/image-gallery-orange.jpg");
  
    }
  
    .cone{
      background-image:url("../images/mobile/image-gallery-cone.jpg");
    }
  
    .sugarcubes{
      background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
    }
  
  
  
  }



  .features {
    display: flex;
    flex-direction: column-reverse;
    max-height: inherit;
  }

  .features--reverse {
    flex-direction: column-reverse;
  }

  /*.fruit {
    width: 100%;
  }*/

  .fruit {
    background-image: url("../images/mobile/image-graphic-design.jpg");
    

  }

  .fruit:nth-child(2) {
    background-image: url("../images/mobile/image-photography.jpg");
  }

  .features__text {
    flex: inherit;
    text-align: center;
    padding-top: 30px;

    h2 {
      font-size: clamp(30px, 2.78vw, 40px);
    }

    p {
      font-size: clamp(15.2px, 1.25vw, 18px);
    }

    a {
      font-size: clamp(14.2px, 1.2vw, 17px);
    }
  }

  .fruits {
    flex-direction: column;

    .fruit {
      flex: inherit;
      width: 100vw;

      .fruit__text {
        position: absolute;
        padding: 0 25%;

        left: 0;
        top: 0;

        h3 {
          margin-top: 350px;
          margin-bottom: 30px;
          font-size: 28px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }

  /**/
  .client__testimonials {
    
    
  
    h3 {
     /* color: $Grayish-blue;
      font-size: 21px;
      font-weight: bold;
      font-family: $Fraunces;
      text-transform: uppercase;
  
      letter-spacing: 4px;*/
      margin-top: 100px;
      margin-bottom: 55px;
    }
  
    .testimonials {
      display: flex;
      flex-direction: column;
      padding: 0 10%;
      column-gap: inherit;
      row-gap: 60px;
      padding-bottom: 130px;
    
  
      .testimonial {
        display:flex;
        flex-direction: column;
        align-items: center;
        
        hyphens: none;
  
        .testimonial__img {
          width: 70px;
          height: 70px;
          margin-bottom: 35px;
  
          img {
            border-radius: 100%;
          }
        }
  
        .testimonial__comment{
          color:$Very-dark-grayish-blue;
          margin-bottom: 25px;
        }
  
        .testimonial__author{
  
          .name{
            font-weight: bold;
            font-family: $Fraunces;
            color:$Very-dark-desaturated-blue;
            margin-bottom: 4px;
  
          }
  
          .position{
            font-size: 14px;
            color: $Grayish-blue;
          
          }
    
        }
        
      }
    }
  }
  
/**/

}
