@import "config/app.scss";
@import "_header.scss";
@import "_variables.scss";

body {
}

.hidden {
  display: none !important;
}

.features {
  display: flex;
  max-height: 600px;
}

.features--reverse {
  flex-direction: row-reverse;

  a {
    &:before {
      background: hsla(7, 99%, 70%, 0.493) !important;
    }
    &:hover::before {
      background: hsl(7, 99%, 70%) !important;
    }
  }
}

.features__text {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding: 0 50px;

  justify-content: center;
  text-align: left;

  h2 {
    font-size: 40px;
    line-height: 1;
    font-family: $Fraunces;
    font-weight: bold;
    margin-bottom: 40px;
  }

  p {
    color: $Dark-grayish-blue;
    margin-bottom: 40px;
  }

  a {
    font-family: $Fraunces;
    text-transform: uppercase;
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding: 0.5rem;
    text-decoration: none;
    position: relative;

    cursor: pointer;
    font-weight: 800;

    &:before {
      content: "";
      position: absolute;
      bottom: 0.3rem;
      left: 0;
      width: 100%;
      height: 0.7rem;
      background: hsla(51, 100%, 49%, 0.404);
      z-index: -1;
      border-radius: 0.5rem;
      transition: 0.35s;
    }

    &:hover::before {
      background: hsl(51, 100%, 49%);
    }
  }
}

.features__img {
  flex: 0 0 50%;
}

.fruits{
 
  display: flex;


  .fruit{
    
    background-image: url("../images/desktop/image-graphic-design.jpg");
    flex:0 0 50%;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 600px;
    text-align: center;
   

    .fruit__text{
      position: absolute;
      padding:0 200px;
      
      left:0;
      top:0;
    }



  }

  .fruit:nth-child(2) {
    background-image: url("../images/desktop/image-photography.jpg");
  }

    h3{
      color:$Dark-blue;
      margin-top:400px;
      margin-bottom:40px;
      font-size:32px;
      font-weight: 700;
      
      font-family:$Fraunces;
    }
    p{
      font-size: 17px;
      color:$Dark-desaturated-cyan;
    }



}

@media (max-width: 870px) {
  .features {
    display: flex;
    flex-direction: column-reverse;
    max-height: inherit;
  }
  
  .features--reverse {
    flex-direction:  column-reverse;
  }
  

  .features__text {
    flex:inherit;
    text-align: center;
    padding-top: 30px;

    h2 {
      font-size: clamp(30px,2.78vw,40px);
      
    }
  
    p {
      font-size:clamp(15.2px, 1.25vw, 18px);
    }
  
    a {
      
     
      font-size: clamp(14.2px, 1.20vw, 17px);
    }
  }

  
.features__img {
  flex:inherit;
}


.fruits{
flex-direction: column;

.fruit{
  flex: inherit;
  width: 100vw;

  
  .fruit__text{ 
    position: absolute;
    padding:0 25%;
    
    left:0;
    top:0;

    
    h3{
     
      margin-top:350px;
      margin-bottom:30px;
      font-size:28px;
      
    }
    p{
      font-size: 15px;
    
    }


  }


}


}


}
